@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2C1810;
  background-color: #F5F0EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #F5F0EB;
  text-decoration: inherit;
}
a:hover {
  color: #5C7A45;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 1000;
  font-family: inherit;
  background-color: #6B4226;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #5C7A45;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2C1810;
    background-color: #F5F0EB;
  }
  a:hover {
    color: #5C7A45;
  }
  button {
    background-color: #6B4226;
  }
}
